<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geocode Form</title>
</head>
<p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    Regions selected so far:
    {% for region in regions %}
        <div class="regionIterator">
            {{ region }}
        </div>
    {% endfor %}
</p>

<form method="POST">
    {% csrf_token %}
    {{ geo_form.as_p }}
    <input type="submit" value="Add Region">
</form>

<form action='reset_points' method='POST'>
    {% csrf_token %}
<button type='submit'> Clear Regions</button>
</form>

<form action='preverify_export' method='POST'>
    {% csrf_token %}
<button type='submit'> Next Form</button>
</form>


</html>